<div class="container">
  <h1>About Me</h1>
  <p>I'm a passonate Software Developer who is very interested in creating great
    applications that are well documented and improving both myself and others
    in that area.</p>
  <p>Links to my Social media below:</p>
  <%= link_to 'Home', root_path, class: "btn btn-secondary" %>
</div>
