<div class="container">
  <h1>Editing post</h1>

  <%= render "form", post: @post %>

  <br>

  <div>
    <%= link_to "Show this post", @post, {class: "btn btn-primary", title: "You can view this post."} %>
    <%= link_to "Back to posts", posts_path, {class: "btn btn-secondary", title: "You can read all of the posts created here."} %>
  </div>
</div>
